.left-inner-addon {
    position: relative;

}
.left-inner-addon i {

    position: absolute;
    padding: 10px 12px;
    cursor: pointer;
    color: #666;
}
.left-inner-addon input.form-control {
    padding-left: 30px;
}

.nome {
    align-self: flex-end;
}

.Nomes {
    color: #000;
    font-family: sans-serif;
    font-weight: bold;
}



#nome_empresa {
    font-family: Great Vibes;
    font-size: 30px;
    font-style: normal;
    text-transform: none;
}

#icon_cliente :hover{
    background-image: url('../img/demandB.png');
    
}

.botoes {
    margin-left: 1%;
} 

.odd {
    background-color: #ffffff;
}

.even {
    background-color: #e0e0e0;
}

.selec {
    background-color: #a6a3a7;
    color: #000;
}

.table td{
    cursor: pointer;
}

#btneditar {
    display: none;
}

.Total {
    font-size: 20px;;
    color: #000;
    font-weight: bold;
}

.modal-body {
    padding: 0%;
}

#modal_titulo_desconto{
    text-align: center;
}

.fundo {
    background-color: rgba(0, 0, 0, 0);
}

.corvalidate {
    box-shadow:0 0 0 .2rem rgba(153, 0, 0, 0.445)
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.adicionar{
    align-self: flex-end;
}

.icone_adicionar{
    color: #fff !important;
}