
#nome_empresa {
    font-family: Great Vibes;
    font-size: 30px;
    font-style: normal;
    text-transform: none;
}

#icon_cliente :hover{
    background-image: url('../img/demandB.png');
    
}

.botoes {
    margin-top: 1%;
    margin-left: 1%;
}

.filtrar{
    margin-top: 2.3%;
}

.texto{
    margin-left: 1%;
    margin-right: 1%;
}

.data {
    border: 1px solid #d1d3e2;
    padding: 3%;
    border-radius: 8px;
}

.odd {
    background-color: #ffffff;
}

.even {
    background-color: #e0e0e0;
}

.selec {
    background-color: #a6a3a7;
    color: #000;
}

.table td{
    cursor: pointer;
}

#btneditar {
    display: none;
}