
#nome_empresa {
    font-family: Great Vibes;
    font-size: 30px;
    font-style: normal;
    text-transform: none;
}

#icon_cliente :hover{
    background-image: url('../img/demandB.png');
    
}

.botoes {
    margin-left: 1%;
} 

.odd {
    background-color: #ffffff;
}

.even {
    background-color: #e0e0e0;
}

.selec {
    background-color: #a6a3a7;
    color: #000;
}

.table td{
    cursor: pointer;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}